#Fri May 10 10:09:39 IST 2019
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_PORT=9999
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT1=8080
LIVE_INVOCATION_SERVER1=localhost
WSSERVER=10.135.117.108
WSPORT=8896
lisa.baseline.xmldiff.config=<xmlDiffOptions>  <ignoreNamespaces>false</ignoreNamespaces>  <ignoreNamespacePrefixes>true</ignoreNamespacePrefixes>  <caseSensitive>true</caseSensitive>  <trimWhitespace>true</trimWhitespace>  <normalizeWhitespace>false</normalizeWhitespace>  <collapseWhitespace>false</collapseWhitespace>  <ignoreWhitespace>false</ignoreWhitespace>  <ignoreAttributes>false</ignoreAttributes>  <ignoreElementText>false</ignoreElementText>  <ignoreAttributeValues>false</ignoreAttributeValues>  <ignoreElementOrdering>false</ignoreElementOrdering>  <ignoreAttributeOrdering>true</ignoreAttributeOrdering></xmlDiffOptions>
